google-api-core==2.25.1
google-auth==2.40.3
google-auth-httplib2==0.2.0
google-cloud==0.34.0
google-cloud-core==2.4.3
google-cloud-storage==3.2.0
google-crc32c==1.7.1
google-resumable-media==2.7.2
googleapis-common-protos==1.70.0
ipywidgets==8.1.5
matplotlib==3.10.1
ndjson==0.3.1
numpy==1.24.4
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.2.10.91
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusparse-cu11==11.7.4.91
nvidia-nccl-cu11==2.14.3
nvidia-nvtx-cu11==11.7.91
oauthlib==3.2.0
olefile==0.46
opencv-python==4.11.0.86
pandas==2.2.1
pillow==11.1.0
requests==2.27.1
supervision==0.25.1
tokenizers==0.21.4
toml==0.10.2
torchaudio==2.0.2
tqdm==4.66.1
traitlets==5.1.1
transformers==4.49.0
ultralytics==8.3.85
ultralytics-thop==2.0.14
mlflow

# PyTorch (with CUDA 12.8 support)
--extra-index-url https://download.pytorch.org/whl/cu128
torch
torchvision